body {
    font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'Open Sans', sans-serif;
}

.profile-image {
    width: 100%;
    max-width: 250px; 
    border-radius: 50%; 
    border: 2px solid #333; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); 
}

.hero-section {
    background-color: #f8f9fa;  
    height: 100vh;  
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;  
}

/* Project card styling */
.card {
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
}

/* Footer styling */
footer p {
    font-size: 1.25rem;
}

footer i {
    font-size: 24px;
    margin: 0 10px;
}


