{% extends 'layout.html' %}

{% block content %}
<div class="hero-section text-center py-5">
  <h1 class="display-4">Coding Tomorrow's Solutions, Today</h1>
  <p class="lead">Where passion for technology meets a commitment to excellence.</p>
  <a href="{{ url_for('projects') }}" class="btn btn-primary btn-lg">View My Projects</a>
</div>

<section class="container my-5 bg-white" id="about-me">
  <div class="row align-items-center">
    <div class="col-md-1"></div>
    <div class="col-md-5 image-and-icons">
      <img src="{{ url_for('static', filename='images/Linkedin_img.jpg') }}" alt="Marios Avraam" class="img-fluid rounded-circle profile-image">

      <!-- Contact icons -->
      <ul class="contact-icons">
        <li>
          <a href="mailto:marios_2510@hotmail.com" title="Email">
            <i class="fas fa-envelope"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/marios-avraam-ab1320219/" target="_blank" title="LinkedIn">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/MariosAvraam" target="_blank" title="GitHub">
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-5">
      <h2 class="mb-3 section-title section-title-border">About Me</h2>
      <p>
        Hello! I'm Marios Avraam, an emerging software developer with a strong passion
        for innovation and problem-solving. Having earned my BSc in Computer Science
        and Mathematics at the University of Leeds, I've delved into a variety of projects,
        ranging from command-line scripts, GUI applications, and game development
        to web development, automation software, data analysis, and API integration.
        As I gear up for my upcoming Postgraduate MSc in Advanced Computer Science at the
        University of Manchester, I'm excited to tackle new challenges and further hone my
        skills. My interests also extend to the dynamic realm of crypto and NFTs.
        Being fluent in both English and Greek, I'm always open to collaborative
        opportunities and exploring new frontiers in technology.
      </p>
    </div>
    <div class="col-md-1"></div>
  </div>
</section>

<section class="container my-5 bg-white" id="certificates">
  <h2 class="mb-3 text-center py-2 section-title">Certificates</h2>
  <p class="text-muted text-center">
    Note: The BSc certificate is not attached for privacy concerns. Original certificates are available upon request.
  </p>
  <div class="timeline">
    <div class="timeline-item hidden">
      <div class="timeline-icon">
        <i class="fa fa-university"></i> <!-- Representing traditional education/university -->
      </div>
      <div class="timeline-content">
        <h5>MSc in Advanced Computer Science</h5>
        <p>University of Manchester, 2023- (In Progress)</p>
      </div>
    </div>
    <div class="timeline-item hidden">
      <div class="timeline-icon">
        <i class="fa fa-university"></i> <!-- Representing traditional education/university -->
      </div>
      <div class="timeline-content">
        <h5>BSc in Computer Science and Mathematics</h5>
        <p>University of Leeds, 2020-2023</p>
      </div>
    </div>
    <div class="timeline-item hidden">
      <div class="timeline-icon">
        <i class="fa fa-laptop-code"></i> <!-- Representing an online course -->
      </div>
      <div class="timeline-content">
        <h5>100 Days of Code: The Complete Python Pro Bootcamp for 2023</h5>
        <p>Udemy, 2023</p>
        <a href="https://www.udemy.com/certificate/UC-17633ded-402f-435c-9be0-0bb7f9c9a553/" class="btn btn-primary btn-sm" target="_blank">View Certificate</a>
      </div>
    </div>
    <div class="timeline-item hidden">
      <div class="timeline-icon">
        <i class="fa fa-laptop-code"></i> <!-- Representing an online course -->
      </div>
      <div class="timeline-content">
        <h5>The Web Developer Bootcamp 2022</h5>
        <p>Udemy, 2022</p>
        <a href="https://www.udemy.com/certificate/UC-1279a43f-a81f-4af8-aef0-0c2f7632d38e/" class="btn btn-primary btn-sm" target="_blank">View Certificate</a>
      </div>
    </div>
  </div>
</section>

<section class="my-5 bg-gray" id="skills">
  <div class="container-fluid">
    <h2 class="mb-3 text-center py-2 section-title skills-title-border">Skills</h2>
    <div class="row justify-content-center mb-4">
      <div class="col-md-2 text-center">
        <i class="fab fa-html5 fa-3x"></i>
        <p>HTML</p>
      </div>
      <div class="col-md-2 text-center">
        <i class="fab fa-css3-alt fa-3x"></i>
        <p>CSS</p>
      </div>
      <div class="col-md-2 text-center">
        <i class="fab fa-js fa-3x"></i>
        <p>JavaScript</p>
      </div>
      <div class="col-md-2 text-center">
        <i class="fab fa-python fa-3x"></i>
        <p>Python</p>
      </div>
      <div class="col-md-2 text-center">
        <i class="fas fa-robot fa-3x"></i>
        <p>ChatGPT</p>
      </div>
    </div>

    <div class="row justify-content-center mb-4">
      <div class="col-md-2 text-center">
        <i class="fab fa-python fa-3x"></i>
        <p>Flask</p>
      </div>
      <div class="col-md-2 text-center">
        <i class="fab fa-node-js fa-3x"></i>
        <p>Node.js</p>
      </div>
      <div class="col-md-2 text-center">
        <i class="fab fa-github fa-3x"></i>
        <p>GitHub</p>
      </div>
      <div class="col-md-2 text-center">
        <i class="fas fa-database fa-3x"></i>
        <p>MongoDB</p>
      </div>
      <div class="col-md-2 text-center">
        <i class="fas fa-database fa-3x"></i>
        <p>SQLAlchemy & SQLite</p>
      </div>
    </div>

  </div>
</section>


<section class="container my-5" id="contact">
  <div class="row">
    <div class="col-md-7 offset-md-1">
      <h2 class="mb-3 section-title section-title-border">Contact</h2>
      <p>
        I'm always open to new opportunities and collaborations. Feel free to reach out using the form below or through my contact details!
      </p>
      <form action="/send_message" method="post">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Message</label>
          <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send Message</button>
      </form>
    </div>
  </div>
</section>

{% endblock %}