{% extends 'layout.html' %}

{% block content %}
<h1 class="text-center py-5 section-title">Select Project to Delete</h1>
<div class="container mb-4">
  <div class="row">
    {% for project in projects %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        {% if project.image_url %}
        <img src="{{ project.image_url }}" class="card-img-top" alt="{{ project.title }}">
        {% endif %}
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">
            {{ project.title }}
          </h5>
          <p class="card-text flex-grow-1 overflow-auto">
            {{ project.description }}
          </p>
          <button class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#deleteModal" data-project-id="{{project.id}}" data-project-title="{{project.title}}">Delete</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the project titled "
        <span id="projectTitle"></span>"?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <form id="deleteForm" method="POST">
          <button type="submit" class="btn btn-danger">Confirm Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}